{{define "dot"}}digraph g {
  rankdir=LR;
  splines=polyline;
  nodesep=1.0;
  ranksep=2.0;
  concentrate=false;
  node [shape=plaintext,height=0.08,margin="0",fontname="Noto Sans Mono CJK JP"];
{{range $c := .Clusters}}
  subgraph cluster_{{$c.Name}} {
    label="{{$c.Label}}";
{{template "dot_tables" $c.Tables}}  }
{{end}}{{template "dot_tables" .UngroupedTables}}
{{template "dot_relations" .Edges}}
}
{{end}}
