{{define "dot_tables"}}
{{range $tk, $t := .Tables}}
  {{.TitleReal}} [label = <<table border="0" cellborder="0" cellpadding="0">
    <tr><td colspan="2"><font face="Ricty-Bold">
    {{- if ne .Title ""}}{{.Title}}/{{end}}{{.TitleReal -}}
    </font></td></tr>
    {{- range $k, $c := .Columns}}
    <tr><td align="left">
    {{- if ne .Title ""}}{{- .Title}}/{{end}}{{.TitleReal}}  {{.Type}} {{if (and (not .AllowNull) .IsUnique) -}}
    (UNN)
    {{- else if not .AllowNull -}}
    (NN)
    {{- else if .IsUnique -}}
    (U)
    {{- end}}</td><td>{{if .IsPrimaryKey -}}
    P
    {{- end}}{{if .IsForeignKey -}}
    F
    {{- end}}</td><td>
    {{- range $ik, $iv := .IndexIndexes}}I{{$iv}} {{end}}</td></tr>{{end}}</table>>];
{{end}}{{end}}