{{define "html" -}}
<!doctype html>
<html lang="ja">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta charset="UTF-8">
    </head>
    <body ng-app="app">
        <div ng-controller="TableController">
            <div class="container-fluid">
                <div class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-brand">{{"{{erd.name}}"}}</div>
                    <div class="navbar-collapse collapse">
                        <form class="navbar-form navbar-right">
                            <input type="text" ng-model="keyword" placeholder="Search..." class="form-control"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 sidebar">
                        <ul class="nav nav-sidebar">
                            <li ng-repeat="table in tableList | filter:keyword"><a href="#table-{{"{{table.name}}"}}">{{"{{table.name}}"}}</a></li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <h2>ERD</h2>
                        <img src="{{.ImageFilename}}" width="900px"/>
                        <h2>Table List</h2>
                        <div class="table-responsive container">
                            <table ng-repeat="table in tableList | filter:keyword" class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr class="success">
                                                        <th>Table Name(Logical)</th>
                                                        <th>Table Name(Physical)</th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{"{{table.logical_name}}"}}</td>
                                                        <td><a name="table-{{"{{table.name}}"}}">{{"{{table.name}}"}}</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr class="info">
                                                        <th>Column Name<br/>(Logical)</th>
                                                        <th>Column Name<br/>(Physical)</th>
                                                        <th>Type</th>
                                                        <th>PK</th>
                                                        <th>NOT<br/>NULL</th>
                                                        <th>UNIQ</th>
                                                        <th>FK</th>
                                                        <th>Default</th>
                                                        <th>Comment</th>
                                                    </tr>
                                                    <tr ng-repeat="column in table.column_list">
                                                        <td style="white-space: nowrap;">{{"{{column.logical_name}}"}}</td>
                                                        <td style="white-space: nowrap;">{{"{{column.name}}"}}</td>
                                                        <td style="white-space: nowrap;">{{"{{column.type}}"}}</td>
                                                        <td style="text-align: center;">{{"{{column.is_pkey ? '&#9745;' : ''}}"}}</td>
                                                        <td style="text-align: center;">{{"{{column.is_null ? '' : '&#9745;'}}"}}</td>
                                                        <td style="text-align: center;">{{"{{column.is_unique ? '&#9745;' : ''}}"}}</td>
                                                        <td style="white-space: nowrap;"><span ng-if="column.relation_table">-&gt;<a href="#table-{{"{{column.relation_table}}"}}">{{"{{column.relation_table}}"}}</a></span></td>
                                                        <td style="white-space: nowrap;">{{"{{column.default}}"}}</td>
                                                        <td style="white-space: nowrap;"><span ng-repeat="comment in column.comment_list">{{"{{comment}}"}}<br/></span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr class="info">
                                                        <th>Index Name</th>
                                                        <th>Column List</th>
                                                        <th>Uniq</th>
                                                        <th>Comment</th>
                                                    </tr>
                                                    <tr ng-repeat="index in table.index_list">
                                                        <td style="white-space: nowrap;">{{"{{index.title}}"}}</td>
                                                        <td style="white-space: nowrap;">{{"{{index.columns}}"}}</td>
                                                        <td style="text-align: center;">{{"{{index.is_unique ? '&#9745;' : ''}}"}}</td>
                                                        <td style="white-space: nowrap;"><span ng-repeat="comment in index.comment_list">{{"{{comment}}"}}<br/></span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
        <script type="text/javascript">
            angular.module('app', [])
            .controller('TableController', ['$scope', function ($scope) {
                $scope.tableList = [
                {{- range $i, $t := .Tables}}
                  {"name": "{{$t.TitleReal}}",
                   "logical_name": "{{$t.Title}}",
                   "index_list": [
                   {{- range $ii, $iv := $t.Indexes}}
                   {"title": "{{$iv.Title}}",
                   "is_unique": {{$iv.IsUnique}},
                   "columns": "{{range $iic := $iv.Columns}}{{$iic}}  {{end}}"},
                   {{end}}
                   ],
                   "column_list": [
                   {{- range $ci, $c := $t.Columns}}
                    {"name": "{{$c.TitleReal}}",
                     "logical_name": "{{$c.Title}}",
                     "type": "{{$c.Type}}",
                     "is_pkey": {{$c.IsPrimaryKey}},
                     "is_unique": {{$c.IsUnique}},{{if .HasDefaultSetting}}
                     "default": "{{$c.Default}}",{{end}}
                     "is_null": {{$c.AllowNull}},{{if .HasRelation}}
                     "relation_from": "{{$c.Relation.CardinalitySource}}",
                     "relation_to": "{{$c.Relation.CardinalityDestination}}",
                     "relation_table": "{{$c.Relation.TableNameReal}}",{{end}}{{if .HasComment}}
                     "comment_list": [
                     {{- range $cci, $cc := $c.Comments}}"{{$cc}}"{{end}}]{{end}}},
                     {{end}}]},{{end}}];

                $scope.erd = {
                    "name": "{{.Title}}"
                };
            }

            ]);
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
{{end}}